/*color*/
$white:#FFF;
$black:#000;

.white {
    color: $white;
}
.white-bg {
    background-color: $white;
}

.black {
    color: $white;
}
.black-bg {
    background-color: $white;
}

$box-shadow:1px 1px 5px 1px rgba(0,0,0,0.1);
$radius: 4px;

/*font*/
$font-family-base: 'NN Medien';
$font-size: 15px;


/*media queries*/
$screen-ph-min: 480px;
$screen-sm-min: 768px;
$screen-tn-min: 865px;
$screen-md-min: 1024px;
$screen-lg-min: 1200px;

/*container*/
$max-width-container: 1400px;




